# Python (Backend)
__pycache__/
*.py[cod]
*$py.class
venv/
.env
backend/venv/

# Node.js (Frontend)
node_modules/
.next/
out/
build/
.vercel
frontend/node_modules/
frontend/.next/

# Environment Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS files
.DS_Store
Thumbs.db
